<h2>CELEBRITY DETAIL</h2>

<h3><%= theCelebrity.name %></h3>


<p><%= theCelebrity.occupation %> </p>

<p><%= theCelebrity.catchPhrase %></p>

<img src="<%= theCelebrity.imageUrl %>" height='400px' alt="">
