<h2>FILL OUT FORM FOR NEW CELEBRITY</h2>

<form method="post" action="/celebrities">
  <label for="celebrity-name-input">Enter Celebrity Name:</label><br>
  <input id="celebrity-name-input" type="text" name="celebrityName"><br>

  <label for="celebrity-occupation-input">Enter Celebrity Occupation:</label><br>
  <input id="celebrity-occupation-input" type="text" name="celebrityOccupation"><br>

  <label for="celebrity-catchPhrase-input">Enter Celebrity Catch Phrase:</label><br>
  <input id="celebrity-catchPhrase-input" type="text" name="celebrityCatchPhrase"><br>

  <label for="celebrity-imageUrl-input">Enter Celebrity Image Url:</label><br>
  <input id="celebrity-imageUrl-input" type="text" name="celebrityImageUrl"><br><br>

  <button>SUBMIT</button>


</form>
