<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>CELEBRITIES and MOVIES</h1>

      <nav>
        <a href="/celebrities">Celebrities List</a><br>
        <a href="/celebrities/new">Add new Celebrity</a><br>
        <a href="/movies">Movies List</a><br>
        <a href="/movies/new">Add new Movie</a><br>
      </nav>
    </header>
    <%- body %>


  <footer>Made with 💪 by David</footer>
  </body>
</html>
