<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <header>
    <h1>CELEBRITIES and MOVIES</h1>

    <nav>
      <a href="/celebrities">Celebrities List</a>
      <a href="/celebrities/new">Add new Celebrity</a>
    </nav>
  </header>
  <body>
    <%- body %>
  </body>
</html>
