<h2>FILL OUT FORM FOR NEW MOVIE</h2>

<form action="/movies" method="post">

<label for="title-input">Enter Title</label><br>
<input type="text" name="movieTitle" id="title-input"><br>

<label for="genre-input">Enter Genre</label><br>
<input type="text" name="movieGenre" id="genre-input"><br>

<label for="plot-input">Enter Plot</label><br>
<input type="text" name="moviePlot" id="plot-input"><br>

<label for="imageUrl-input">Enter imageUrl</label><br>
<input type="text" name="movieImageUrl" id="imageUrl-input"><br><br>

<button>SUBMIT</button>

</form>
